a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* 投稿一覧 */
.post-contents {
  width: 100vw;
  height: calc(95vh - 15vh) ;
  background-color: #f5f6f6c9;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1vh 0;

}


.post-contents>.subtitle {
  font-size: 18px;
  text-decoration: none;
  color: #3ccace;
  font-weight: bold;
}

.post-lists {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
  list-style: none;
}

.post-lists>.list {
  width: 40vw;
  margin: 0 0 15px 0;
  background-color: #FFF;
}

.post-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.post-text {
  font-size: 2vh;
  display: flex;
  justify-content: start;
}

.post-title {
  font-size: 2.5vh;
}
/* //投稿一覧 */


/* 投稿ボタン */
.purchase-btn {
  width: 150px;
  background: #3ccace;
  text-align: center;
  border-radius: 5%;
  bottom: 55px;
  right: 42px;
  position: fixed;
  padding: 10px;
}

.purchase-btn-text {
  color: #fff;
  display: block;
  font-size: 18px;
  text-decoration: none;
  margin-bottom: 5px;
}

.purchase-btn-icon {
  width: 95%;
}
/* //投稿ボタン */